@import "tailwindcss";

@theme {

  --color-main-background  : #0d1117;
  --color-column-background: #161c22;
}

html,
body,
#root {
  @apply m-0 p-0 box-border bg-black text-white;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-rose-900 rounded-xl;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-rose-950;
}

.task> ::-webkit-scrollbar-thumb {
  @apply bg-sky-500 rounded-xl;
}